In [24]:
import requests
import pandas as pd

# Login

In [25]:
url = "http://127.0.0.1:9000/api/".replace("\\","/")

In [26]:
username="testeuser@zeladorx.com.br"
password="TESte2026&"

body = {
    "username":username,
    "password":password
}

In [27]:
response = requests.post("http://127.0.0.1:9000/api/login", body)

In [28]:
response.json()

{'token': '171db50f8cc06dae8ae7338bdc5048ddc97f6784',
 'id_random': '6uW6BnjPFHyd',
 'user_id': 1,
 'username': 'zeladorx',
 'email': 'zeladorx@zeladorx.com.br',
 'is_superuser': True}

# Auth

In [29]:
headers = {
    "Authorization": f"Token {response.json()['token']}"
}

# Unidades

# lista de Unidades

In [30]:
# retorna todas as unidades cadastradas, que o usário tem permissão para visualizar
# codigo de permissão necessário --> 342: Pode visualizar unidades
response = requests.get("http://127.0.0.1:9000/api/unidades/ListUnidade/", headers=headers)
df = pd.DataFrame(response.json()['results'])
display(df)
# importnate as colunas linkmapajardinagem, linkmapalimnpezapredial sao exibidas seguindo o macro servico habilitado para a empresa do usuario

,id,id_random,nome,linkmapajardinagem,linkmapalimnpezapredial,empresasecundaria,status
0,1,hDVjIq1JYBOZ,unidade jupyter,,,[6],Mobilizado
1,3,75X3nHLHlXKc,aLKFJKBWFJBSDJCKBSAJCBSKJDBCKSDBJCKBSDJKssssss...,https://www.google.com/maps/d/u/0/embed?mid=1D...,https://www.google.com/maps/d/u/0/embed?mid=1D...,[1],Mobilizado
2,5,3epdU0gHQDg3,PosatmanuNIdade,None,None,[1],Mobilizado
3,6,neN812qtAhzQ,unidade jupyter,,,[6],Mobilizado

## Criar unidade

In [19]:
## As colunas, empresasecundaria são chaves estrangeiras e precisam estar devidamente configuradas
## sendo obriagatorios

In [20]:
# Lista de empresas que podem ser enviadas pelo usuario
# nao precisa de permissao
print("Empresas secundarias")
response = requests.get("http://127.0.0.1:9000/api/empresas_secundarias/ListEmpresaSecundariaJardinagemFromForms/", headers=headers)
response.json()
df = pd.DataFrame(response.json()['results'])
display(df)
print()

Empresas secundarias

,id,id_random,nome,setor,empresaprimaria,status
0,2,YaCmoR89ZFtU,EmpJardPostMaN edita jupyter,"[1, 2]",1,Mobilizado
1,6,ajlcQ0i5KuZ9,EmpJardPostMaN,[1],1,Mobilizado
2,7,jy7bch8qQ4Ou,empresa jupyter,[1],1,Mobilizado
3,9,rPdhBql1vAEq,empresa jupyter 3,"[1, 2]",1,Mobilizado
4,10,gYVMI4M6NG6o,empresa jupyter,[1],1,Mobilizado

In [22]:
# exemplo de envio de boby para criar uma nova unidades
new_body = {
     'nome': 'unidade jupyter',
     'linkmapajardinagem': '', # esse campo so sera salvo cao o usuario tenha o macro servico liberado em api/zeladorx/MyMacroServices/
     'linkmapalimnpezapredial': '', # esse campo so sera salvo cao o usuario tenha o macro servico liberado em api/zeladorx/MyMacroServices/
     'empresasecundaria': 6, # api/empresas_secundarias/ListEmpresaSecundariaJardinagemFromForms/
}
# codigo de permissão necessário --> 340: Pode criar novas unidades
response = requests.post("http://127.0.0.1:9000/api/unidades/CreateUnidade/", new_body, headers=headers)
response.json()

{'detail': "A empresa 'ZeladorX' já atingiu o limite de unidades contratadas (5)."}

# Atualizar unidade

In [21]:
# as chaves body da atualização é exatamente igual o body da criacao
# atualiando a nome para unidade jupyter
new_body = {
     'nome': 'unidade jupyter',
     'linkmapajardinagem': '', # esse campo so sera salvo cao o usuario tenha o macro servico liberado em api/zeladorx/MyMacroServices/
     'linkmapalimnpezapredial': '', # esse campo so sera salvo cao o usuario tenha o macro servico liberado em api/zeladorx/MyMacroServices/
     'empresasecundaria': 6, # api/empresas_secundarias/ListEmpresaSecundariaJardinagemFromForms/
}
# codigo de permissão necessário --> 341: Pode editar unidades
response = requests.put("http://127.0.0.1:9000/api/unidades/UnidadeUpdate/hDVjIq1JYBOZ/", new_body, headers=headers)
response.json()

{'success': True,
 'message': 'Unidade atualizado com sucesso.',
 'data': {'id': 1,
  'id_random': 'hDVjIq1JYBOZ',
  'nome': 'unidade jupyter',
  'linkmapajardinagem': '',
  'linkmapalimnpezapredial': '',
  'empresasecundaria': [6],
  'status': 'Mobilizado'}}

# Detalhes unidades

In [26]:
# essa rota recebe o id random da unidade como parametro de url, consultar em api/unidades/ListUnidade/
# detalhes da unidade riada anteriormente, obeserve o id_random
# http://127.0.0.1:9000/api/unidades/UnidadeDetail/id_random/
# codigo de permissão necessário -->  342: Pode visualizar unidades
response = requests.get("http://127.0.0.1:9000/api/unidades/UnidadeDetail/hDVjIq1JYBOZ/", new_body, headers=headers)
response.json()

{'id': 1,
 'id_random': 'hDVjIq1JYBOZ',
 'nome': 'unidade jupyter',
 'linkmapajardinagem': '',
 'linkmapalimnpezapredial': '',
 'empresasecundaria': [6],
 'status': 'Mobilizado'}

# Alterar status

In [22]:
# essa rota recebe o id random da unidade como parametro de url, consultar em api/unidades/ListUnidade/
# atualizando a unidade criada anteriormente, obeserve o id_random
# codigo de permissão necessário --> 
# 344: Pode desmobilizar unidades ou demosbilizar (Desmobilizado) ou
# 345: Pode reabilitar unidades para reabilitar (Mobilizado)

new_body = {
    'status': 'Desmobilizado'
}

response = requests.put("http://127.0.0.1:9000/api/unidades/UnidadeAlterStatus/hDVjIq1JYBOZ/", new_body, headers=headers)
response.json()

{'success': True,
 'message': "Status da unidade atualizado com sucesso. Novo status: 'Desmobilizado'.",
 'data': {'id_random': 'hDVjIq1JYBOZ', 'status': 'Desmobilizado'}}

# If delete unidade

In [23]:
# essa rota recebe o id random da unidade como parametro de url, consultar em api/unidades/ListUnidade/
# codigo de permissão necessário --> 343: Pode excluir unidades

response = requests.get("http://127.0.0.1:9000/api/unidades/IfDeleteUnidade/hDVjIq1JYBOZ/", headers=headers)
response.json()

{'objeto_principal': 'unidade jupyter',
 'resumo': {'Unidade': 1,
  'LocalidadeJardiangem': 2,
  'AreasJardins': 3,
  'ServicoJardinagemAgendado': 1,
  'ServicoJardinagemAgendado_ServicosEscalados': 1,
  'ServicoJardinagemAgendado_ColaboradoresEscalados': 1,
  'FatoServicoJardinagem': 1,
  'CheckListJardinagem': 2,
  'LocalidadeLimpezaPredial': 1,
  'AreaLimpezaPredial': 2,
  'ServicoLimpezaPredialConfigurado': 1,
  'ServicoLimpezaPredialConfigurado_ServicosEscalados': 1,
  'ServicoLimpezaPredialConfigurado_diasaseremrealizado': 2,
  'ServicoLimpezaPredialAgendado': 1,
  'ServicoLimpezaPredialAgendado_ServicosEscalados': 1,
  'CheckListLimpezaPredial': 1,
  'Unidade_empresasecundaria': 1},
 'objetos_em_cascata': ['- unidade jupyter',
  '  - Markos Alves Pereira -- unidade jupyter',
  '    - ARea post man 1 | Markos Alves Pereira -- unidade jupyter',
  '    - ARea post man 1 | Markos Alves Pereira -- unidade jupyter',
  '      - postman origem -- 02/08/2025 05:00 -- markos ',
  '        - ServicoJardinagemAgendado_ServicosEscalados object (3)',
  '        - ServicoJardinagemAgendado_ColaboradoresEscalados object (4)',
  '        - FatoServicoJardinagem object (3)',
  '        - Checklist: postamn (Pendente)',
  '        - Checklist: checklist jupyter notebook (Pendente)',
  '    - ARea post man | Markos Alves Pereira -- unidade jupyter',
  '  - ççaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -- unidade jupyter',
  '  - ççaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -- unidade jupyter',
  '    - teste 2 | ççaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -- unidade jupyter',
  '      - teste 2 | ççaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -- unidade jupyter | Empresa primaria de teste jajaalsdklasjdklsajdkasjdklasjkdlkasdlkasjdlkasjkdlkas',
  '        - ServicoLimpezaPredialConfigurado_ServicosEscalados object (1)',
  '        - ServicoLimpezaPredialConfigurado_diasaseremrealizado object (1)',
  '        - ServicoLimpezaPredialConfigurado_diasaseremrealizado object (2)',
  '      - teste 2 | ççaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -- unidade jupyter | Empresa primaria de teste jajaalsdklasjdklsajdkasjdklasjkdlkasdlkasjdlkasjkdlkas | 10/07/2025 21:04',
  '        - ServicoLimpezaPredialAgendado_ServicosEscalados object (1)',
  '        - Checklist: sub teste (Pendente)',
  '    - Atest | ççaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa -- unidade jupyter',
  '  - Unidade_empresasecundaria object (8)']}

In [31]:
# essa rota recebe o id random da unidade como parametro de url, consultar em api/unidades/ListUnidade/
# codigo de permissão necessário --> 343: Pode excluir unidades

response = requests.delete("http://127.0.0.1:9000/api/unidades/DeleteUnidade/75X3nHLHlXKc/", headers=headers)
response.json()

{'detail': "Unidade 'aLKFJKBWFJBSDJCKBSAJCBSKJDBCKSDBJCKBSDJKssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss' foi deletado com sucesso."}

# Unidades from forms

In [30]:
# uniades desmobilizadas da operação nao podem receber servicos, consultar no manual de intruções
# não precisa de permissão
response = requests.get("http://127.0.0.1:9000/api/unidades/ListUnidadeFromForms/", headers=headers)
response.json()['results']
df = pd.DataFrame(response.json()['results'])
display(df)

,id,id_random,nome,linkmapajardinagem,linkmapalimnpezapredial,empresasecundaria,status
0,3,75X3nHLHlXKc,aLKFJKBWFJBSDJCKBSAJCBSKJDBCKSDBJCKBSDJKssssss...,https://www.google.com/maps/d/u/0/embed?mid=1D...,https://www.google.com/maps/d/u/0/embed?mid=1D...,[1],Mobilizado
1,5,3epdU0gHQDg3,PosatmanuNIdade,None,None,[1],Mobilizado
2,6,neN812qtAhzQ,unidade jupyter,,,[6],Mobilizado